    <div ng-controller="ExampleController">
        <form name="form" novalidate class="css-form">
            <div ng-repeat="row in inputs">
                <ng-form name="innerForm">
                    {{inputs[$index].title}}
                    <input ng-model="inputs[$index].value" name="input" type="text" smart-float=inputs[$index].validation required/>
                    <span ng-show="innerForm.input.$error.valid">
                        {{inputs[$index].validation.msg}}</span>
                </ng-form>
            </div>
            {{form | json}}
            {{form.$invalid}}
            <button ng-click="reset()">RESET</button>
            <button ng-click="" ng-disabled="form.$invalid">SAVE</button>
        </form>
       
    </div>