
#id_equations{
	border-radius: 0px 0px 0px 0px;
	resize:vertical;
}

#editor{
	visibility: hidden;
}


#invisible-wrapper{
	position:absolute;
	top: 40px;
	width: 100%;
	background-color: rgba(256,256,256,0.4);
	visibility: hidden;
	z-index: 100;
}

    ::-moz-selection{
    background-color:Transparent;
    color:#000;
    }

    ::selection {
    background-color:Transparent;
    color:#000;
    }

#containment-wrapper::-moz-selection,
#containment-wrapper::selection {  }

#containment-wrapper{
	z-index: 10;
}

.table-container {
	display: inline-block;
	margin-right: 4px;
	vertical-align:top;
}

#chart {
	position: relative;
	left: 40px;
	display: block;
}
#y_axis {
	position: absolute;
	top: 20px;
	bottom: 0;
	width: 40px;
}
#x_axis {
	position: relative;
	left: 40px;
	height: 30px;
}

#dashboard{
	position: relative;
}



.chart-title{
	display: inline-block;
	width: 100%;
	text-align:center;
}

.chart-container{
	display: inline-block;
	overflow: hidden; 
	position:relative;
	margin-right: 4px;
	padding: 0px 0px 0px 0px;
	border-style:solid;
	border-width:1px;
	border-color: #ccc;
}

.chart{

}

#contextMenu {
    position: absolute;
    display:none;
}

.hidden{
	visibility: hidden;
}
